@import "tailwindcss";
@import "swiper/css";
@import "swiper/css/pagination";
@import "swiper/css/navigation";
@import "swiper/css/effect-fade";

.slick-dots li button:before {
  color: white !important;
}
.slick-dots li.slick-active button:before {
  color: #00b0ff !important;
}